* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
main {
  display: grid;
  grid-template-areas:
    "1 1 1 2 2"
    "1 1 1 2 2"
    "3 3 4 4 4"
    "3 3 5 5 5";
}
main div {
  padding: 2em;
  text-align: center;
}
.g1 {
  background-color: red;
  grid-area: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
.g2 {
  background-color: orange;
  grid-area: 2;
}
.g3 {
  background-color: green;
  grid-area: 3;
}
.g4 {
  background-color: rgb(50, 77, 226);
  grid-area: 4;
}
.g5 {
  background-color: rgb(50, 77, 226);
  grid-area: 5;
}

/* * {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.g1 {
  grid-column-start: ;
} */
